body{
    background-color: rgb(0, 51, 0);
}
h1{
    text-align: center;
    margin: 10px;
    color: white;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10%;
}
div{
    margin: 10px;
}
button{
    background-color: rgb(0, 175, 0);
    color: white;
    border-radius:10px ;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}